<!DOCTYPE html>
<html>
  <head>
    <title>PDIS Design System Color Generator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <style>
      .col {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 900;
        padding: 1rem 0.25rem;
      }
      table {
        table-layout: fixed;
      }
      tr {
        padding-bottom: 1rem;
      }
      td {
        font-weight: 900;
        padding: 0.5rem !important;
        font-size: 14px;
      }
      .demo {
        display: flex;
        flex-direction: column;
        min-height: 60px;
        justify-content: space-between;
      }
      td span:nth-child(2) {
        align-self: end;
      }
    
      h1 {
        border-bottom: 2px solid gray;
        font-weight: bold;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
      }
      h2,
      h3 {
        margin-bottom: 1rem;
        margin-top: 2rem;
      }
      input {
        width: 3rem !important;
        display: inline-block !important;
      }
      i {
        margin-right: 2px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid my-5">
      <h1>PDIS Design System Color Generator</h1>
      <div class="row">
        <div class="col-3">
          <input
            type="color"
            class="form-control form-control-color"
            id="brand"
            value="#2c5ab4"
            onchange="update(this)"
          />
          <p class="fs-3 d-inline">Brand</p>
        </div>
        <div class="col-3">
          <input
            type="color"
            class="form-control form-control-color"
            id="accent"
            value="#705D00"
            onchange="update(this)"
          />
          <p class="fs-3 d-inline">Accent</p>
        </div>
        <div class="col-3">
          <input
            type="color"
            class="form-control form-control-color"
            id="information"
            value="#006687"
            onchange="update(this)"
          />
          <p class="fs-3 d-inline">Information</p>
        </div>
        <div class="col-3">
          <input
            type="color"
            class="form-control form-control-color"
            id="warning"
            value="#A53D00"
            onchange="update(this)"
          />
          <p class="fs-3 d-inline">Warning</p>
        </div>
      </div>
      <div class="light">
        <h2>Color Schemes</h2>
        <h3>Light Theme</h3>
        <table class="table table-borderless">
          <tr>
            <td class="brand tone40 text-tone100">
              <div class="demo"><span>Brand</span><span>Brand40</span></div>
            </td>
            <td class="brand tone30 text-tone100">
              <div class="demo"><span>Brand Strong</span><span>Brand30</span></div>
            </td>
            <td class="brand tone100 text-tone40">
              <div class="demo"></div>
              <span>On Brand</span><span>Brand100</span>
            </td>
            <td class="brand tone90 text-tone10">
              <div class="demo"></div>
              <span>Brand Flat</span><span>Brand90</span>
            </td>
            <td class="brand tone80 text-tone10">
              <div class="demo"></div>
              <span>Brand Flat Strong</span><span>Brand80</span>
            </td>
            <td class="brand tone10 text-tone90">
              <div class="demo"></div>
              <span>On Brand Flat</span><span>Brand10</span>
            </td>
          </tr>
          <tr>
            <td class="accent tone40 text-tone100">
              <span>Accent</span><span>Accent40</span>
            </td>
            <td class="accent tone30 text-tone100">
              <span>Accent Strong</span><span>Accent30</span>
            </td>
            <td class="accent tone100 text-tone40">
              <span>On Accent</span><span>Accent100</span>
            </td>
            <td class="accent tone90 text-tone10">
              <span>Accent Flat</span><span>Accent90</span>
            </td>
            <td class="accent tone80 text-tone10">
              <span>Accent Flat Strong</span><span>Accent80</span>
            </td>
            <td class="accent tone10 text-tone90">
              <span>On Accent Flat</span><span>Accent10</span>
            </td>
          </tr>
          <tr>
            <td class="positive tone40 text-tone100">
              <span>Positive</span><span>Positive40</span>
            </td>
            <td class="positive tone30 text-tone100">
              <span>Positive Strong</span><span>Positive30</span>
            </td>
            <td class="positive tone100 text-tone40">
              <span>On Positive</span><span>Positive100</span>
            </td>
            <td class="positive tone90 text-tone10">
              <span>Positive Flat</span><span>Positive90</span>
            </td>
            <td class="positive tone80 text-tone10">
              <span>Positive Flat Strong</span><span>Positive80</span>
            </td>
            <td class="positive tone10 text-tone90">
              <span>On Positive Flat</span><span>Positive10</span>
            </td>
          </tr>
          <tr>
            <td class="negative tone40 text-tone100">
              <span>Negative</span><span>Negative40</span>
            </td>
            <td class="negative tone30 text-tone100">
              <span>Negative Strong</span><span>Negative30</span>
            </td>
            <td class="negative tone100 text-tone40">
              <span>On Negative</span><span>Negative100</span>
            </td>
            <td class="negative tone90 text-tone10">
              <span>Negative Flat</span><span>Negative90</span>
            </td>
            <td class="negative tone80 text-tone10">
              <span>Negative Flat Strong</span><span>Negative80</span>
            </td>
            <td class="negative tone10 text-tone90">
              <span>On Negative Flat</span><span>Negative10</span>
            </td>
          </tr>
          <tr>
            <td class="information tone40 text-tone100">
              <span>Information</span><span>Information40</span>
            </td>
            <td class="information tone30 text-tone100">
              <span>Information Strong</span><span>Information30</span>
            </td>
            <td class="information tone100 text-tone40">
              <span>On Information</span><span>Information100</span>
            </td>
            <td class="information tone90 text-tone10">
              <span>Information Flat</span><span>Information90</span>
            </td>
            <td class="information tone80 text-tone10">
              <span>Information Flat Strong</span><span>Information80</span>
            </td>
            <td class="information tone10 text-tone90">
              <span>On Information Flat</span><span>Information10</span>
            </td>
          </tr>
          <tr>
            <td class="warning tone40 text-tone100">
              <span>Warning</span><span>Warning40</span>
            </td>
            <td class="warning tone30 text-tone100">
              <span>Warning Strong</span><span>Warning30</span>
            </td>
            <td class="warning tone100 text-tone40">
              <span>On Warning</span><span>Warning100</span>
            </td>
            <td class="warning tone90 text-tone10">
              <span>Warning Flat</span><span>Warning90</span>
            </td>
            <td class="warning tone80 text-tone10">
              <span>Warning Flat Strong</span><span>Warning80</span>
            </td>
            <td class="warning tone10 text-tone90">
              <span>On Warning Flat</span><span>Warning10</span>
            </td>
          </tr>
          <tr>
            <td class="netural tone99 text-tone10">
              <span>Background</span><span>Netural99</span>
            </td>
            <td class="netural tone10 text-tone99">
              <span>On Background</span><span>Netural10</span>
            </td>
          </tr>
          <tr>
            <td class="netural tone99 text-tone10">Surface</td>
            <td class="netural surface1 text-tone10">Surface at +1</td>
            <td class="netural surface2 text-tone10">Surface at +2</td>
            <td class="netural surface3 text-tone10">Surface at +3</td>
            <td class="netural surface4 text-tone10">Surface at +4</td>
            <td class="netural surface5 text-tone10">Surface at +5</td>
            <td class="netural tone10 text-tone99">On Surface</td>
          </tr>
          <tr>
            <td class="neutralvariant tone90 text-tone30">Surface Variant</td>
            <td class="neutralvariant tone30 text-tone90">
              On Surface Variant
            </td>
            <td class="neutralvariant tone50 text-tone90">Outline</td>
          </tr>
        </table>
      </div>
      <div>
        <h3>CSS</h3>
        <i class="bi bi-activity"></i>

        <pre>
:root {
  --brand: <span class="brand tone40"></span>;
  --brand-strong: <span class="brand tone30"></span>;
  --on-brand: <span class="brand tone100"></span>;
  --brand-flat: <span class="brand tone90"></span>;
  --brand-flat-strong: <span class="brand tone80"></span>;
  --on-brand-flat: <span class="brand tone10"></span>;
  --accent: <span class="accent tone40"></span>;
  --accent-strong: <span class="accent tone30"></span>;
  --on-accent: <span class="accent tone100"></span>;
  --accent-flat: <span class="accent tone90"></span>;
  --accent-flat-strong: <span class="accent tone80"></span>;
  --on-accent-flat: <span class="accent tone10"></span>;
  --positive: <span class="positive tone40"></span>;
  --positive-strong: <span class="positive tone30"></span>;
  --on-positive: <span class="positive tone100"></span>;
  --positive-flat: <span class="positive tone90"></span>;
  --positive-flat-strong: <span class="positive tone80"></span>;
  --on-positive-flat: <span class="positive tone10"></span>;
  --negative: <span class="negative tone40"></span>;
  --negative-strong: <span class="negative tone30"></span>;
  --on-negative: <span class="negative tone100"></span>;
  --negative-flat: <span class="negative tone90"></span>;
  --negative-flat-strong: <span class="negative tone80"></span>;
  --on-negative-flat: <span class="negative tone10"></span>;
  --information: <span class="information tone40"></span>;
  --information-strong: <span class="information tone30"></span>;
  --on-information: <span class="information tone100"></span>;
  --information-flat: <span class="information tone90"></span>;
  --information-flat-strong: <span class="information tone80"></span>;
  --on-information-flat: <span class="information tone10"></span>;
  --warning: <span class="warning tone40"></span>;
  --warning-strong: <span class="warning tone30"></span>;
  --on-warning: <span class="warning tone100"></span>;
  --warning-flat: <span class="warning tone90"></span>;
  --warning-flat-strong: <span class="warning tone80"></span>;
  --on-warning-flat: <span class="warning tone10"></span>;
  --surface: <span class="netural tone99"></span>;
  --surface-1: <span class="netural surface1"></span>;
  --surface-2: <span class="netural surface2"></span>;
  --surface-3: <span class="netural surface3"></span>;
  --surface-4: <span class="netural surface4"></span>;
  --surface-5: <span class="netural surface5"></span>;
  --on-surface: <span class="netural tone10"></span>;
  --surface-variant: <span class="neutralvariant tone90"></span>;
  --on-surface-variant: <span class="neutralvariant tone30"></span>;
  --outline: <span class="neutralvariant tone50"></span>;
  --background: <span class="netural tone99"></span>;
  --on-background: <span class="netural tone10"></span>;
}
</pre>
      </div>
      <div class="tonal-palettes">
        <h3>Brand</h3>
        <div class="row">
          <div class="col brand tone0 text-white">0</div>
          <div class="col brand tone10 text-white">10</div>
          <div class="col brand tone20 text-white">20</div>
          <div class="col brand tone25 text-white">25</div>
          <div class="col brand tone30 text-white">30</div>
          <div class="col brand tone35 text-white">35</div>
          <div class="col brand tone40 text-white">40</div>
          <div class="col brand tone50 text-white">50</div>
          <div class="col brand tone60">60</div>
          <div class="col brand tone70">70</div>
          <div class="col brand tone80">80</div>
          <div class="col brand tone90">90</div>
          <div class="col brand tone95">95</div>
          <div class="col brand tone98">98</div>
          <div class="col brand tone99">99</div>
          <div class="col brand tone100">100</div>
        </div>
        <h3>Accent</h3>
        <div class="row">
          <div class="col accent tone0 text-white">0</div>
          <div class="col accent tone10 text-white">10</div>
          <div class="col accent tone20 text-white">20</div>
          <div class="col accent tone25 text-white">25</div>
          <div class="col accent tone30 text-white">30</div>
          <div class="col accent tone35 text-white">35</div>
          <div class="col accent tone40 text-white">40</div>
          <div class="col accent tone50 text-white">50</div>
          <div class="col accent tone60">60</div>
          <div class="col accent tone70">70</div>
          <div class="col accent tone80">80</div>
          <div class="col accent tone90">90</div>
          <div class="col accent tone95">95</div>
          <div class="col accent tone98">98</div>
          <div class="col accent tone99">99</div>
          <div class="col accent tone100">100</div>
        </div>
        <h3>Positive</h3>
        <div class="row">
          <div class="col positive tone0 text-white">0</div>
          <div class="col positive tone10 text-white">10</div>
          <div class="col positive tone20 text-white">20</div>
          <div class="col positive tone25 text-white">25</div>
          <div class="col positive tone30 text-white">30</div>
          <div class="col positive tone35 text-white">35</div>
          <div class="col positive tone40 text-white">40</div>
          <div class="col positive tone50 text-white">50</div>
          <div class="col positive tone60">60</div>
          <div class="col positive tone70">70</div>
          <div class="col positive tone80">80</div>
          <div class="col positive tone90">90</div>
          <div class="col positive tone95">95</div>
          <div class="col positive tone98">98</div>
          <div class="col positive tone99">99</div>
          <div class="col positive tone100">100</div>
        </div>
        <h3>Negative</h3>
        <div class="row">
          <div class="col negative tone0 text-white">0</div>
          <div class="col negative tone10 text-white">10</div>
          <div class="col negative tone20 text-white">20</div>
          <div class="col negative tone25 text-white">25</div>
          <div class="col negative tone30 text-white">30</div>
          <div class="col negative tone35 text-white">35</div>
          <div class="col negative tone40 text-white">40</div>
          <div class="col negative tone50 text-white">50</div>
          <div class="col negative tone60">60</div>
          <div class="col negative tone70">70</div>
          <div class="col negative tone80">80</div>
          <div class="col negative tone90">90</div>
          <div class="col negative tone95">95</div>
          <div class="col negative tone98">98</div>
          <div class="col negative tone99">99</div>
          <div class="col negative tone100">100</div>
        </div>
        <h3>Information</h3>
        <div class="row">
          <div class="col information tone0 text-white">0</div>
          <div class="col information tone10 text-white">10</div>
          <div class="col information tone20 text-white">20</div>
          <div class="col information tone25 text-white">25</div>
          <div class="col information tone30 text-white">30</div>
          <div class="col information tone35 text-white">35</div>
          <div class="col information tone40 text-white">40</div>
          <div class="col information tone50 text-white">50</div>
          <div class="col information tone60">60</div>
          <div class="col information tone70">70</div>
          <div class="col information tone80">80</div>
          <div class="col information tone90">90</div>
          <div class="col information tone95">95</div>
          <div class="col information tone98">98</div>
          <div class="col information tone99">99</div>
          <div class="col information tone100">100</div>
        </div>
        <h3>Warning</h3>
        <div class="row">
          <div class="col warning tone0 text-white">0</div>
          <div class="col warning tone10 text-white">10</div>
          <div class="col warning tone20 text-white">20</div>
          <div class="col warning tone25 text-white">25</div>
          <div class="col warning tone30 text-white">30</div>
          <div class="col warning tone35 text-white">35</div>
          <div class="col warning tone40 text-white">40</div>
          <div class="col warning tone50 text-white">50</div>
          <div class="col warning tone60">60</div>
          <div class="col warning tone70">70</div>
          <div class="col warning tone80">80</div>
          <div class="col warning tone90">90</div>
          <div class="col warning tone95">95</div>
          <div class="col warning tone98">98</div>
          <div class="col warning tone99">99</div>
          <div class="col warning tone100">100</div>
        </div>
        <h3>Netural</h3>
        <div class="row">
          <div class="col netural tone0 text-white">0</div>
          <div class="col netural tone10 text-white">10</div>
          <div class="col netural tone20 text-white">20</div>
          <div class="col netural tone25 text-white">25</div>
          <div class="col netural tone30 text-white">30</div>
          <div class="col netural tone35 text-white">35</div>
          <div class="col netural tone40 text-white">40</div>
          <div class="col netural tone50 text-white">50</div>
          <div class="col netural tone60">60</div>
          <div class="col netural tone70">70</div>
          <div class="col netural tone80">80</div>
          <div class="col netural tone90">90</div>
          <div class="col netural tone95">95</div>
          <div class="col netural tone98">98</div>
          <div class="col netural tone99">99</div>
          <div class="col netural tone100">100</div>
        </div>
        <h3>Neutral-Variant</h3>
        <div class="row">
          <div class="col neutralvariant tone0 text-white">0</div>
          <div class="col neutralvariant tone10 text-white">10</div>
          <div class="col neutralvariant tone20 text-white">20</div>
          <div class="col neutralvariant tone25 text-white">25</div>
          <div class="col neutralvariant tone30 text-white">30</div>
          <div class="col neutralvariant tone35 text-white">35</div>
          <div class="col neutralvariant tone40 text-white">40</div>
          <div class="col neutralvariant tone50 text-white">50</div>
          <div class="col neutralvariant tone60">60</div>
          <div class="col neutralvariant tone70">70</div>
          <div class="col neutralvariant tone80">80</div>
          <div class="col neutralvariant tone90">90</div>
          <div class="col neutralvariant tone95">95</div>
          <div class="col neutralvariant tone98">98</div>
          <div class="col neutralvariant tone99">99</div>
          <div class="col neutralvariant tone100">100</div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    <script src="dist/js/material-color-utilities-webpack.js"></script>
    <script>
      update();
      function update(e) {
        const brand = document.getElementById("brand").value;
        const accent = document.getElementById("accent").value;
        const information = document.getElementById("information").value;
        const warning = document.getElementById("warning").value;
        const result = themeFromSourceColor(
          brand,
          accent,
          information,
          warning
        );
        Object.entries(result.tonalPalettes).forEach(([color_name, tunes]) => {
          Object.entries(tunes).forEach(([tune, color_hex]) => {
            $(`td.${color_name}.${tune}`).css("background-color", color_hex);
            $(`.${color_name}.text-${tune}`).css("color", color_hex);

            $(`span.${color_name}.${tune}`).html(
              `<i class="bi bi-square-fill"></i>${color_hex}`
            );
            $(`span.${color_name}.${tune} i`).css("color", color_hex);
          });
        });

        const surface = result.tonalPalettes.netural.tone99;
        const mask = result.tonalPalettes.brand.tone40;
        $("td.surface1").css("background-color", colorMix(surface, mask, 0.05));
        $("td.surface2").css("background-color", colorMix(surface, mask, 0.08));
        $("td.surface3").css("background-color", colorMix(surface, mask, 0.11));
        $("td.surface4").css("background-color", colorMix(surface, mask, 0.12));
        $("td.surface5").css("background-color", colorMix(surface, mask, 0.14));
        $(".netural.surface1").text(colorMix(surface, mask, 0.05));
        $(".netural.surface2").text(colorMix(surface, mask, 0.08));
        $(".netural.surface3").text(colorMix(surface, mask, 0.11));
        $(".netural.surface4").text(colorMix(surface, mask, 0.12));
        $(".netural.surface5").text(colorMix(surface, mask, 0.14));
      }

      function colorMix(bg, mask, optical) {
        const alpha = 1 - optical;
        bg = hexToRGB(bg);
        mask = hexToRGB(mask);
        const red = Math.round(
          (optical * (mask.red / 255) + alpha * (bg.red / 255)) * 255
        );
        const green = Math.round(
          (optical * (mask.green / 255) + alpha * (bg.green / 255)) * 255
        );
        const blue = Math.round(
          (optical * (mask.blue / 255) + alpha * (bg.blue / 255)) * 255
        );
        return rgbToHex(red, green, blue);
      }

      function hexToRGB(hex) {
        return {
          red: parseInt(hex[1] + hex[2], 16),
          green: parseInt(hex[3] + hex[4], 16),
          blue: parseInt(hex[5] + hex[6], 16),
        };
      }
      function rgbToHex(r, g, b) {
        return (
          "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1)
        );
      }
    </script>
  </body>
</html>
