#switcher {
  position: fixed;
  right: -0.25rem;
  top: 5rem;
}

#switcher-content {
  display: none;
  width: 250px;
  position: fixed;
  right: 0rem;
  top: 4.5rem;
  background-color: lightgray;
  padding: 1rem;

  p {
    margin-left: 1rem;
    font-size: 1.25rem;
  }
}
